<h2>Países</h2>
<hr>
<ul class="list-group cursor-pointer">
  <!-- <li routerLink=""
    class="list-group-item list-group-item-info"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Home Page
  </li>
  <li routerLink="about"
    class="list-group-item list-group-item-info"
    routerLinkActive="active"
  >
    About Page
  </li>
  <li routerLink="contact"
  class="list-group-item list-group-item-info"
  routerLinkActive="active">
    Contact Page
  </li> -->
  <li routerLink="countries/by-capital"
  class="list-group-item list-group-item-info"
  routerLinkActive="active">
    Por Capital
  </li>
  <li routerLink="countries/by-country"
  class="list-group-item list-group-item-info"
  routerLinkActive="active">
    Por País
  </li>
  <li routerLink="countries/by-region"
  class="list-group-item list-group-item-info"
  routerLinkActive="active">
    Por Región
  </li>
</ul>
